@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-brand: "Alegreya", serif;
  --font-headings: "Lora", serif;
  --font-regular: "Manrope", sans-serif;

  --weight-brand: 700;
  --weight-headings: 600;
  --weight-text: 400;

  --size-brand: 48px;
  --size-headings: 32px;
  --size-text: 16px;

  --color-primary: #000000;
  --color-secondary: #292929;
  --color-tertiary: #eaeeff;
}
