@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-brand: "Alegreya", serif;
  --font-headings: "Lora", serif;
  --font-text: "Manrope", sans-serif;
  --color-primary: #000000;
  --color-secondary: #292929;
  --color-tertiary: #eaeeff;
}
